:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #D0DB97;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;

}

#app, main {
  width: 100%;
  display: flex;
  place-items: center;
  justify-content: center;
  flex-direction: column;
}

.card {
  margin-top: 2.5%;
  width: 50%;
  max-width: 450px;
  aspect-ratio: 1/1.42;
}

p {
  margin: 0;
}
#tabs {
  display: flex;
  justify-content: center;
  width: 50%;
  max-width: 450px;
}
.tab {
  margin: 0;
  padding: 0;
  width: 25%;
  aspect-ratio: 3/1;
}
.tab:hover{
  cursor: pointer
}

.selected {
  background-color: rgb(150, 150, 150);
}